default anodyne
prompt 0
timeout 10

label anodyne
    menu label Anodyne OS (Kiosk Mode)
    kernel /live/vmlinuz-6.1.0-47-amd64
    append initrd=/live/initrd.img-6.1.0-47-amd64 boot=live components video=1024x768 console=tty1 console=ttyS0
